$grey: #3e3e3e;
$blue: #28b0d4;

@mixin greyBox () {
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2em;
  background-color: $grey;
}

* {
  box-sizing: border-box;
}

@import 'normalize';
@import 'base';
@import 'matchup';
@import 'bracket';
